output.data
generate
aes/aes/aes
backprop/backprop/backprop
bfs/bulk/bfs
bfs/queue/bfs
fft/strided/fft
fft/transpose/fft
gemm/ncubed/gemm
gemm/blocked/gemm
kmp/kmp/kmp
md/knn/md
md/grid/md
nw/nw/nw
sort/merge/sort
sort/radix/sort
spmv/crs/spmv
spmv/ellpack/spmv
stencil/stencil2d/stencil
stencil/stencil3d/stencil
viterbi/viterbi/viterbi

# General files
tests/*
!tests/README
!tests/baremetal.log
!tests/artico3.log
!tests/check.sh

# MATLAB files
!tests/matlab

# SDSoC files
!tests/baremetal
tests/baremetal/RemoteSystemsTempFiles
tests/baremetal/*.*
tests/baremetal/*/Debug
tests/baremetal/*/Release
tests/baremetal/*/.Xil

# ARTICo³ files
!tests/artico3
tests/artico3/**/*.sw
tests/artico3/**/*.hw
